div(class="jumbotron")
    h1(style="color:rgb(114, 1, 243)") Ingrese productos 
    br
    form(action="/productos" method="post")
        div(class="form-group")
            label(for="nombre") 
                b Nombre
            input(id="nombre" class="form-control" type="text" name="nombre")
        .form-group
            label(for='precio')
                b Precio
            input#precio.form-control(type='text' name='precio')
        .form-group
            label(for='foto')
                b Foto
            input#foto.form-control(type='text' name='foto')
        button(class="btn btn-success mt-3 mb-5") Enviar 
